name: Publish docs

on:
  push:
    branches: [ main ]
    paths:
      - 'docs/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout

      - name: vuepress-deploy
        uses: jenkey2011/vuepress-deploy
        env:
          ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BUILD_SCRIPT: cd docs && npm install && npm run build
          BUILD_DIR: src/.vuepress/dist
