name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Vet
      run: go vet ./...

    - name: Build
      run: go build -ldflags="-s -w" -o build/shipshape . && ls -lh build/shipshape

    - name: Test
      run: go test -v ./... -coverprofile=build/coverage.out

    - name: Upload test coverage
      uses: actions/upload-artifact@v2
      with:
        name: build
        path: build
